This is an image of the chickenpox rash on medium brown skin.

The image shows chickenpox spots all over the lower half of someone’s back and the side of their hip. There are about 50 spots in total, varying in size from about 1mm to 1cm. Some are 1cm to 3cm apart, but others are further apart.

Most of the spots have scabs.  The scabs vary in colour from pink and purple to grey.

There are also a few spots without scabs that look more like small blisters. These are slightly darker in colour than the surrounding skin.  
